* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.content {
    margin: 10px;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
} 
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
/*HEADER*/
.header-col {
    width: 50%;
    height: 75px;
    border: 2px dashed black;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #007AE9;
    color: white;
    height: 75px;
}
.float-end {
    float: right;
}
header .content {
    height: 75px;
}
/*MAIN*/
main {
    padding-top: 75px;
}
.bg:nth-child(even) {
    background-color: #9792E4;
}
main .container {
    max-width: 1200px;
}
.col-33, .col-66 {
    background-color: #B5DDFF;
}
.col-33, .col-66, .col-25, .col-50, .col-75, .col-100 {
    width: 100%;
    height: 150px;
    border: 1px dashed black;
}
/*demo*/

/*planning*/

/*FOOTER*/
footer {
    background-color: #333333;
}

