* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
} 
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
body {
    font-family: "Roboto", sans-serif;
}
.white {
    color: white;
}
/*HEADER*/
.header-col {
    width: 50%;
    height: 75px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #007AE9;
    color: white;
    height: 75px;
}
.float-end {
    float: right;
}
.header-col .content {
    line-height: 55px;
}
.header-col img {
    margin-top: 10px;
}
.unstyled-menu {
    list-style-type: none;
    display: flex;
}
.unstyled-menu li {
    margin: 0px 10px;
}
.unstyled-menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.unstyled-menu li:last-child a {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.desktop-menu {
    display: none;
}
/*MAIN*/
main {
    padding-top: 75px;
}
.bg:nth-child(even), .violet, #benefits button {
    background-color: #9792E4;
}
.col-33, .col-66, .col-25, .col-50, .col-70, .col-30, .col-100 {
    width: 100%;
}
p {
    margin: 20px auto;
    color:#5A6E7F;
}
h3 {
    font-size: 20px;
    margin: 20px auto;
}
.bg img {
    width: 100%;
}
.content {
    margin: 10px;
}
.bg .content {
    border-radius: 20px;
    text-align: center;
}
button {
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
}
/*demo*/
#demo .content {
    background-color: #B5DDFF;
    min-height: 250px;
}
#demo h3, #demo i:not(.fa-apple) {
    color: #007AE9;
}
#demo i:not(.fa-apple) {
    font-size: 80px;
}
#demo button i {
    font-size: 15px;
}
#demo button {
    background-color: #007AE9;
}
.bg .content:not(.col-66 .content) {
    padding: 30px;
}
.col-66 .content {
    padding: 30px 30px 0px;
}
.left, .right {
    width: 100%;
}
.col-66 h3, .col-66 p {
    text-align: left;
}
/*planning*/
.bg-white {
    background-color: white;
}
.fa-arrow-down {
    background-color: #9792E4;
    padding: 30px 20px;
    border-radius: 50px;
}
/*testimonials*/
#testimonials h3, .content.bg-white h2, .content.bg-white h4 {
    color: #9792E4;
}
#testimonials p, #testimonials h4 {
    margin: 40px auto;
}
#testimonials .content.violet {
    display: flex;
    flex-wrap: wrap;
}
.round {
    margin: auto;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#testimonial1 {
    background-image: url(../img/testimonial1.jpg);
}
#testimonial2 {
    background-image: url(../img/testimonial2.jpg);
}
#testimonial3 {
    background-image: url(../img/testimonial3.jpg);
}
/*benefits*/
.content.bg-white {
    text-align: left;
}
.content.bg-white h2 {
    font-size: 60px;
}
.content.bg-white h4 {
    font-size: 20px;
}
/*about-us*/
#about {
    background-image: url(../img/about.jpg);
} 
.col-70 {
    background-color: #333333;
}
.col-30 {
    background-color: yellow;
}
/*get-started*/
/*FOOTER*/
footer {
    background-color: #333333;
    text-align: center;
}
footer .container {
    max-width: 480px;
    margin: 0 auto;
}
footer p {
    font-size: 12px;
}
footer a {
    color: #9792E4;
}
/*responsività tablet*/
@media screen and (min-width: 768px) {
    .col-66 {
        width: calc(100% / 3 * 2);
    }
    .col-33 {
        width: calc(100% / 3);
    }
    #benefits .col-33 {
        width: 50%;
    }
    .col-50 {
        width: 100%;
    }
    .col-25 {
        width: 100%;
    }
    .col-70 {
        width: 60%;
    }
    .col-30 {
        width: 40%;
    }
    .right {
        width: 50%;
    }
    #demo .content {
        min-height: 455px;
    }
    #testimonials .round {
        width: calc(100% / 3 - 40px);
    }
    #testimonials .witness {
        width: calc(100% / 3 * 2);
    }
    #about-us .round {
        width: calc(100% / 3 + 110px);
    }
}
/*responsività desktop*/
@media screen and (min-width: 1160px) {
    .col-50 {
        width: 50%;
    }
    .col-70 {
        width: calc(100% / 3 * 2);
    }
    #benefits .col-33, .col-30 {
        width: calc(100% / 3);
    }
    .desktop-menu {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .col-66 .content {
        display: flex;
        flex-wrap: wrap;
    }
    .left, .right {
        width: 50%;
    }
    #demo .content {
        min-height: 400px;
    }
    #planning .col-50 {
        width: 50%;
    }
    #planning .col-50:last-of-type {
        padding-top: 200px;
        width: 40%;
    }
    #testimonials .round {
        width: calc(100% / 4 - 60px);
    }
    #about-us .round {
        width: calc(100% / 3 + 90px);
    }
}

